{{ ansible_managed | comment }}

[Unit]
Description=Prometheus SystemD Exporter
After=network-online.target

[Service]
Type=simple
User={{ _systemd_exporter_system_user }}
Group={{ _systemd_exporter_system_group }}
ExecStart={{ _systemd_exporter_binary_install_dir }}/systemd_exporter \
{% for collector in systemd_exporter_enabled_collectors -%}
{%   if not collector is mapping %}
    --collector.{{ collector }} \
{%   else -%}
{%     set name, options = (collector.items()|list)[0] -%}
    --collector.{{ name }} \
{%     for k,v in options|dictsort %}
    --collector.{{ name }}.{{ k }}={{ v | quote }} \
{%     endfor -%}
{%   endif -%}
{% endfor -%}
    --web.listen-address={{ systemd_exporter_web_listen_address }}

SyslogIdentifier=systemd_exporter
Restart=always
RestartSec=1
StartLimitInterval=0

ProtectHome=yes
NoNewPrivileges=yes

{% if systemd_exporter_systemd_version | int >= 232 %}
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
{% else %}
ProtectSystem=full
{% endif %}

[Install]
WantedBy=multi-user.target
